<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<th:block th:replace="~{essentials/head :: head}"></th:block>
<body class="bg-[#FEF3F2]">
    <!-- HEADER -->
    <header th:replace="~{essentials/header-user :: header-user}"></header> 
    <!-- PURCHASING-PROCESS -->
    <div th:replace="~{essentials/confiteria/purchasing-process :: purchasing-process}"></div>
    <!-- FOOTER -->    
    <footer th:replace="~{essentials/footer :: footer}"></footer>
    <!-- DIRECTORIO JS -->
    <script th:src="@{/js/general.js}"></script>
    <script th:src="@{js/cart.js}"></script>
    </body>
</html>




