<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confitería</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/126fa838b4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Overlock:wght@400;700" />
    <link href="/src/main/frontend/style.css" rel="stylesheet">
    <link th:href="@{/main.css}" rel="stylesheet" />
</head>
<body class="bg-[#FEF3F2]">
    
    

    <!-- BARRA DE MENÚ -->
    <header class="h-16 w-full bg-[#314852]">
        <div class="flex justify-between items-center mx-5 lg:mx-[40px]">
            <div class="">
                <a href="#">
                    <img src="./images/logo.png" class="min-h-14 max-h-14" alt="Logo Empresa">
                </a>
            </div>
            <div class="flex items-center">                
                <button id="hamburger" class="text-slate-500 hover:text-black block lg:hidden p-3 mt-1">
                    <i id="hamburgerIcon" class="fa-solid fa-bars text-2xl"></i>
                </button>
                <div id="menu" class="hidden lg:flex px-6 py-3 space-x-9 items-center text-white">
                    <a href="#" class="#">Inicio</a>
                    <a href="#" class="#">Películas</a>
                    <a href="#" class="#">Horarios</a>
                    <div class="relative">
                        <button id="servicesMenuBtn" class="bg-transparent flex items-center">
                            Servicios
                            <i class="fa-solid fa-chevron-down ml-1"></i> <!-- Icono de flecha hacia abajo -->
                        </button>
                        <div id="servicesDropdown" class="hidden absolute bg-primaryColor shadow-lg mt-2">
                            <a href="./confiteria/confiteria.html" class="block px-4 py-2 text-black hover:bg-white">Confitería</a>
                            <a href="#" class="block px-4 py-2 text-black hover:bg-white">Promociones</a>
                            <a href="#" class="block px-4 py-2 text-black hover:bg-white">Contácto</a>
                        </div>
                    </div>
                    <button class="border-2 border-black hover:bg-green-950 px-3 py-1">Iniciar</button>
                    <button class="border-2 border-black bg-secondaryColor hover:bg-green-950 px-3 py-1 text-white">Registrarse</button>
                </div>
            </div>
        </div>
        <!-- MENÚ DESPLEGABLE -->
        <div id="dropdownMenu" class="hidden lg:hidden bg-primaryColor absolute w-full">
            <div class="flex flex-col space-y-2 p-4">
                <a href="#" class="hover:bg-white ring-black p-2 hover:border-black">Inicio</a>
                <a href="#" class="hover:bg-white ring-black p-2 hover:border-black">Películas</a>
                <a href="#" class="hover:bg-white ring-black p-2 hover:border-black">Horarios</a>
                <div class="relative">
                    <button id="servicesMenuBtnMobile" class="text-gray-7 bg-transparent flex items-center w-full justify-between p-2">
                        Servicios
                        <i class="fa-solid fa-chevron-down ml-1"></i>
                    </button>
                    <div id="servicesDropdown" class="hidden absolute w-40 bg-white rounded-lg mt-2">
                        <a href="./confiteria/confiteria.html" class="block px-6 py-3 text-black hover:bg-white border-b">Confitería</a>
                        <a href="#" class="block px-6 py-3 text-black hover:bg-white">Contacto</a>
                    </div>
                </div>
                <button class="border-2 border-black hover:bg-white hover:text-black px-3 py-1">Iniciar</button>
                <button class="border-2 border-black bg-secondaryColor hover:bg-green-950 px-3 py-1 text-white">Registrarse</button>
            </div>
        </div>
    </header>
    
    <section class="container mx-auto py-6">
        <h2 class="text-3xl font-bold text-center mb-8">Nuestra Oferta</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-6">
            <!-- Producto: Mega Combo diario -->
            <div class="bg-white rounded-lg shadow-md p-6 text-center">
                <img src="./images/promocion1.png" alt="Mega Combo diario" class="mx-auto mb-4">
                <h3 class="text-xl font-bold">¡Mega Combo diario!</h3>
                <p>1 Gaseosa Coca Cola de 300ml + 1 Canchita Grande Salada - Stock Limitado</p>
                <span class="text-2xl font-bold">S/ 13.90</span>
                <div class="flex justify-center mt-4">
                    <button class="bg-[#314852] text-white font-bold py-2 px-4 rounded" onclick="updateQuantity('mega_combo_diario', -1)">-</button>
                    <span id="mega_combo_diario-quantity" class="mx-4">0</span>
                    <button class="bg-[#314852] text-white font-bold py-2 px-4 rounded" onclick="updateQuantity('mega_combo_diario', 1)">+</button>
                </div>
            </div>
            <!-- Producto: Mega Combo único -->
            <div class="bg-white rounded-lg shadow-md p-6 text-center">
                <img src="./images/promocion2.png" alt="Mega Combo único" class="mx-auto mb-4">
                <h3 class="text-xl font-bold">¡Mega Combo único!</h3>
                <p>1 Gaseosa Coca Cola de 300ml + 1 caja de nachos con queso - Stock Limitado</p>
                <span class="text-2xl font-bold">S/ 17.90</span>
                <div class="flex justify-center mt-4">
                    <button class="bg-[#314852] text-white font-bold py-2 px-4 rounded" onclick="updateQuantity('mega_combo_unico', -1)">-</button>
                    <span id="mega_combo_unico-quantity" class="mx-4">0</span>
                    <button class="bg-[#314852] text-white font-bold py-2 px-4 rounded" onclick="updateQuantity('mega_combo_unico', 1)">+</button>
                </div>
            </div>
        </div>
    </section>
    
    <section class="container mx-auto py-12">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
            <div class="bg-white rounded-lg shadow-md p-6 text-center">
                <img src="./images/cocacola.png" alt="Coca Cola 300ml" class="mx-auto mb-4">
                <h3 class="text-xl font-bold">Coca cola 300ml</h3>
                <span class="text-2xl font-bold">S/ 4.90</span>
                <div class="flex justify-center mt-4">
                    <button class="bg-[#314852] text-white font-bold py-2 px-4 rounded" onclick="updateQuantity('cocacola', -1)">-</button>
                    <span id="cocacola-quantity" class="mx-4">0</span>
                    <button class="bg-[#314852] text-white font-bold py-2 px-4 rounded" onclick="updateQuantity('cocacola', 1)">+</button>
                </div>
            </div>
    
            <div class="bg-white rounded-lg shadow-md p-6 text-center">
                <img src="./images/popcorn.png" alt="Canchita grande salada" class="mx-auto mb-4">
                <h3 class="text-xl font-bold">Canchita grande salada</h3>
                <span class="text-2xl font-bold">S/ 9.90</span>
                <div class="flex justify-center mt-4">
                    <button class="bg-[#314852] text-white font-bold py-2 px-4 rounded" onclick="updateQuantity('canchita', -1)">-</button>
                    <span id="canchita-quantity" class="mx-4">0</span>
                    <button class="bg-[#314852] text-white font-bold py-2 px-4 rounded" onclick="updateQuantity('canchita', 1)">+</button>
                </div>
            </div>
    
            <div class="bg-white rounded-lg shadow-md p-6 text-center">
                <img src="./images/hotdog.png" alt="Hot Dog" class="mx-auto mb-4">
                <h3 class="text-xl font-bold">Hot Dog</h3>
                <span class="text-2xl font-bold">S/ 7.90</span>
                <div class="flex justify-center mt-4">
                    <button class="bg-[#314852] text-white font-bold py-2 px-4 rounded" onclick="updateQuantity('hotdog', -1)">-</button>
                    <span id="hotdog-quantity" class="mx-4">0</span>
                    <button class="bg-[#314852] text-white font-bold py-2 px-4 rounded" onclick="updateQuantity('hotdog', 1)">+</button>
                </div>
            </div>
    
            <div class="bg-white rounded-lg shadow-md p-6 text-center">
                <img src="./images/nachos.png" alt="Nachos con queso" class="mx-auto mb-4">
                <h3 class="text-xl font-bold">Nachos con queso</h3>
                <span class="text-2xl font-bold">S/ 14.90</span>
                <div class="flex justify-center mt-4">
                    <button class="bg-[#314852] text-white font-bold py-2 px-4 rounded" onclick="updateQuantity('nachos', -1)">-</button>
                    <span id="nachos-quantity" class="mx-4">0</span>
                    <button class="bg-[#314852] text-white font-bold py-2 px-4 rounded" onclick="updateQuantity('nachos', 1)">+</button>
                </div>
            </div>
        </div>
    </section>
    
    <section class="container mx-auto py-12">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
            <div class="bg-white rounded-lg shadow-md p-6 text-center">
                <img src="./images/agua.png" alt="Agua San Mateo 250ml" class="mx-auto mb-4">
                <h3 class="text-xl font-bold">Agua San Mateo 250ml</h3>
                <span class="text-2xl font-bold">S/ 3.90</span>
                <div class="flex justify-center mt-4">
                    <button class="bg-[#314852] text-white font-bold py-2 px-4 rounded" onclick="updateQuantity('agua', -1)">-</button>
                    <span id="agua-quantity" class="mx-4">0</span>
                    <button class="bg-[#314852] text-white font-bold py-2 px-4 rounded" onclick="updateQuantity('agua', 1)">+</button>
                </div>
            </div>
    
            <div class="bg-white rounded-lg shadow-md p-6 text-center">
                <img src="./images/mym.png" alt="MyM" class="mx-auto mb-4">
                <br><br><br><br>
                <h3 class="text-xl font-bold">MyM</h3>
                <span class="text-2xl font-bold">S/ 6.90</span>
                <div class="flex justify-center mt-4">
                    <button class="bg-[#314852] text-white font-bold py-2 px-4 rounded" onclick="updateQuantity('mym', -1)">-</button>
                    <span id="mym-quantity" class="mx-4">0</span>
                    <button class="bg-[#314852] text-white font-bold py-2 px-4 rounded" onclick="updateQuantity('mym', 1)">+</button>
                </div>
            </div>
    
            <div class="bg-white rounded-lg shadow-md p-6 text-center">
                <img src="./images/popcorn_dulce.png" alt="Canchita grande dulce" class="mx-auto mb-4">
                <h3 class="text-xl font-bold">Canchita grande dulce</h3>
                <span class="text-2xl font-bold">S/ 9.90</span>
                <div class="flex justify-center mt-4">
                    <button class="bg-[#314852] text-white font-bold py-2 px-4 rounded" onclick="updateQuantity('canchita_dulce', -1)">-</button>
                    <span id="canchita_dulce-quantity" class="mx-4">0</span>
                    <button class="bg-[#314852] text-white font-bold py-2 px-4 rounded" onclick="updateQuantity('canchita_dulce', 1)">+</button>
                </div>
            </div>
    
            <div class="bg-white rounded-lg shadow-md p-6 text-center">
                <img src="./images/miflaka.png" alt="Red Bull" class="mx-auto mb-4">
                <h3 class="text-xl font-bold">Red Bull</h3>
                <span class="text-2xl font-bold">S/ 9.90</span>
                <div class="flex justify-center mt-4">
                    <button class="bg-[#314852] text-white font-bold py-2 px-4 rounded" onclick="updateQuantity('red_bull', -1)">-</button>
                    <span id="red_bull-quantity" class="mx-4">0</span>
                    <button class="bg-[#314852] text-white font-bold py-2 px-4 rounded" onclick="updateQuantity('red_bull', 1)">+</button>
                </div>
            </div>
        </div>
    </section>

    <div class="fixed bottom-5 right-5">
        <button class="bg-[#314852] text-white py-2 px-4 rounded" onclick="window.location.href='cart.html'">
            Ir al carrito (<span id="cart-count">0</span>)
        </button>
    </div>

    <!--INICIO DEL FOOTER-->
    
    <footer class="bg-[#314852] text-white py-10">
        <div class="container mx-auto grid grid-cols-1 md:grid-cols-4 gap-10">
            <!-- Columna Uno -->
            <div>
                <img src="./images/logo.png" alt="">
            </div>
            <!-- Columna Dos -->
            <div>
                <h4 class="text-lg font-semibold mb-4">Columna Uno</h4>
                <ul class="space-y-2">
                    <li><a href="#" class="hover:text-teal-400">Enlace </a></li>
                    <li><a href="#" class="hover:text-teal-400">Enlace </a></li>
                    <li><a href="#" class="hover:text-teal-400">Enlace </a></li>
                    <li><a href="#" class="hover:text-teal-400">Enlace </a></li>
                    <li><a href="#" class="hover:text-teal-400">Enlace </a></li>
                </ul>
            </div>
            <!-- Columna Tres -->
            <div>
                <h4 class="text-lg font-semibold mb-4">Columna Dos</h4>
                <ul class="space-y-2">
                    <li><a href="#" class="hover:text-teal-400">Enlace </a></li>
                    <li><a href="#" class="hover:text-teal-400">Enlace </a></li>
                    <li><a href="#" class="hover:text-teal-400">Enlace </a></li>
                    <li><a href="#" class="hover:text-teal-400">Enlace </a></li>
                    <li><a href="#" class="hover:text-teal-400">Enlace </a></li>
                </ul>
            </div>
            <!-- Columna Suscribir -->
            <div>
                <h4 class="text-lg font-semibold mb-4">Suscribir</h4>
                <p class="text-sm mb-4">Únete a nuestro boletín para estar al día de las novedades y lanzamientos.</p>
                <form class="flex flex-col space-y-3">
                    <input type="email" placeholder="Ingresa tu correo" class="px-4 py-2 bg-gray-700 text-white rounded">
                    <button type="submit" class="px-4 py-2 bg-teal-500 hover:bg-teal-400 text-white rounded">Suscribirse</button>
                </form>
                <p class="text-xs mt-4">Al suscribirte, aceptas nuestra <a href="#" class="text-teal-400 hover:underline">Política de Privacidad</a>.</p>
            </div>
        </div>
    
        <!-- Redes sociales -->
        <div class="border-t border-gray-700 mt-10 pt-6">
            <div class="container mx-auto flex flex-col md:flex-row justify-between items-center text-sm">
                <p class="text-gray-400">&copy; 2024 Moview. Todos los derechos reservados. 
                    <a href="#" class="hover:underline ml-2">Política de Privacidad</a> | 
                    <a href="#" class="hover:underline">Términos de Servicio</a> | 
                    <a href="#" class="hover:underline">Configuración de Cookies</a>
                </p>
                <div class="flex space-x-4 mt-4 md:mt-0">
                    <a href="#" class="text-gray-400 hover:text-teal-400"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-gray-400 hover:text-teal-400"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-gray-400 hover:text-teal-400"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-gray-400 hover:text-teal-400"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </footer>
    
    <script src="./cart.js"></script>
</body>
</html>



