<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">

    <!-- TEXT BANNER -->
    <section th:fragment="banner">
        <div class="bg-secondaryColor h-screen flex justify-center">
            <div class="items-center justify-center flex flex-col space-y-10 font-Overlock mx-12 xl:mx-0">
                <div class="#">
                    <h1 class="text-center text-white text-4xl sm:text-5xl md:text-6xl xl:text-7xl">¡Bienvenidos a
                        Moview el
                        mejor <br> Cine Drive-In de la Ciudad!</h1>
                </div>
                <div>
                    <p class="text-center text-white text-lg sm:text-xl xl:text-2xl">Disfruta de una experiencia
                        única bajo las estrellas con nuestras peliculas de <br>
                        estreno y deliciosos snacks.</p>
                </div>
                <div class="space-x-2">
                    <button
                            class="border-2 border-gray-200 bg-gray-200 px-3 py-1 text-black font-semibold text-lg xl:text-xl hover:bg-white">Explorar</button>
                    <button
                            class="border-2 border-white bg-secondaryColor px-3 py-1 text-white font-semibold text-lg xl:text-xl hover:bg-white hover:text-black">Registrarse</button>
                </div>
            </div>
        </div>
    </section>

</html>