<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

    <section th:fragment="statistics">
        <div class="h-auto w-auto mx-8 my-16 items-centes justify-center font-Overlock grid grid-cols-1 sm:grid-cols-2 lg:mx-24 gap-5">
            <div class="order-2 sm:order-none flex flex-col justify-center">
                <img th:src="@{/images/home/estadistica-img.png}" class="xl:max-w-2xl"
                     alt="Estadística de Satisfacción">
            </div>

            <div class="order-1 sm:order-none flex flex-col justify-center">
                <div class="space-y-5">
                    <h3 class="font-extrabold text-3xl md:text-4xl xl:text-5xl">Estadísticas de Asistencia y
                        <br>Satisfacción de Clientes
                    </h3>
                    <p class="font-semibold xl:text-lg">Obtén datos relevantes sobre la Asistencia y satisfacción de
                        nuestros clientes en nuestro drive-in</p>
                    <div class="space-y-2">
                        <span class="font-bold text-4xl xl:text-5xl">86%</span>
                        <p class="font-semibold">Clientes satisfechos eon la experiencia del drive-in.</p>
                    </div>
                    <div class="space-y-2">
                        <span class="font-bold text-4xl xl:text-5xl">75%</span>
                        <p class="font-semibold">Clientes que recomendarían nuestro drive-in a otros.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</html>