<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

    <section th:fragment="subscription">
        <figure class="relative h-96 min-[650px]:h-64 w-full mx-0 my-14 xl:w-auto xl:mx-24">
            <img class="w-full h-full brightness-50 object-cover bg-left-bottom xl:rounded-lg"
                 th:src="@{/images/home/fondo-subs.jpg}" alt="image description">

            <figcaption class="absolute text-white top-5 min-[530px]:top-10">
                <div class="space-y-2 font-Overlock mx-8 lg:mx-24">
                    <h3 class="text-3xl lg:text-4xl xl:text-5xl">Suscríbete para recibir noticias exclusivas</h3>

                    <p class="font-semibold">MAntente al día con nuestras últimas noticias y promociones.</p>
                    <div class="space-y-4 flex flex-col sm:space-y-0 sm:flex-row sm:space-x-3">

                        <input placeholder="Ingresa tu correo electrónico"
                               class="border border-white w-auto h-10 sm:w-96 bg-transparent font-semibold text-lg p-2 hover:text-white"></input>

                        <button
                                class="border-2 border-gray-200 bg-gray-200 px-3 py-1 text-black font-semibold text-lg xl:text-xl hover:bg-white">Registrarse</button>
                    </div>

                    <div class="leading-5 text-sm"><a href="#">Al Hacer clic en Registrarse, confirmas que estás de
                        acuerdo con nuestros Términos y Condiciones.</a></div>
                </div>
            </figcaption>
        </figure>
    </section>
</html>