<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Moview - Registrar Película</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../static/assets/css/style.css">

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        :root {
            --color-secondary: #C41BA2;
            --color-dark-blue: #314852; /* Color de fondo */
            --color-third: #4442B6;
            --color-third-opacity: #4442b61c;
            --color-light: #F8F8F8;
        }

        body {
            background-color: #314852; /* Color de fondo */
            font-family: 'Montserrat';
        }

        .formulario {
            background-color: rgba(255, 255, 255, 0.068);
        }

        .secondary {
            color: var(--color-secondary);
        }

        button {
            background-color: var(--color-third);
            transition: background-color 0.3s, color 0.3s;
        }

        button:hover {
            background-color: white;
            color: #314852;
        }
    </style>
</head>
<body>
<main>
    <section class="person-form mt-10 mb-10">
        <h2 class="text-center text-4xl text-white font-bold mb-4">Registrar película</h2>

        <form action="#" th:action="@{/peliculas/guardar}" th:object="${pelicula}" method="post" class="max-w-md mx-auto formulario rounded-xl p-4 ">
            <div class="grid md:grid-cols-2 md:gap-6">
                <div class="relative z-0 w-full mb-5 group">
                    <input type="text" name="titulo" id="titulo" class="block py-2.5 px-0 w-full text-sm text-white-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " th:field="*{titulo}" required />
                    <label for="titulo" class="peer-focus:font-medium absolute text-md text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Título</label>
                </div>
                <div class="relative z-0 w-full mb-5 group">
                    <input type="number" name="duracion" id="duracion" class="block py-2.5 px-0 w-full text-sm text-white-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" th:field="*{duracion}" placeholder=" " required />
                    <label for="duracion" class="peer-focus:font-medium absolute text-md text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Duración (min)</label>
                </div>
            </div>

            <div class="grid md:grid-cols-2 md:gap-6">
                <div class="relative z-0 w-full mb-5 group">
                    <input type="text" name="clasificacion" id="clasificacion" class="block py-2.5 px-0 w-full text-sm text-white-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" th:field="*{clasificacion}" placeholder=" " required />
                    <label for="clasificacion" class="peer-focus:font-medium absolute text-md text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Clasificación</label>
                </div>
                <div class="relative z-0 w-full mb-5 group">
                    <input type="text" name="idioma" id="idioma" class="block py-2.5 px-0 w-full text-sm text-white-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" th:field="*{idioma}" placeholder=" " required />
                    <label for="idioma" class="peer-focus:font-medium absolute text-md text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Idioma</label>
                </div>
            </div>

            <div class="relative z-0 w-full mb-5 group">
                <input type="text" name="categoria" id="categoria" class="block py-2.5 px-0 w-full text-sm text-white-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" th:field="*{categoria}" placeholder=" " required />
                <label for="categoria" class="peer-focus:font-medium absolute text-md text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Categoria</label>
            </div>

            <div class="relative z-0 w-full mb-5 group">
                <input type="text" name="formato" id="formato" class="block py-2.5 px-0 w-full text-sm text-white-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" th:field="*{formato}" placeholder=" " required />
                <label for="formato" class="peer-focus:font-medium absolute text-md text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Formato</label>
            </div>

            <div class="relative z-0 w-full mb-5 group">
                <input type="text" name="trama" id="trama" class="block py-2.5 px-0 w-full text-sm text-white-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" th:field="*{trama}" placeholder=" " required />
                <label for="trama" class="peer-focus:font-medium absolute text-md text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Trama</label>
            </div>

            <div class="relative z-0 w-full mb-5 group">
                <input type="text" name="director" id="director" class="block py-2.5 px-0 w-full text-sm text-white-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" th:field="*{director}" placeholder=" " required />
                <label for="director" class="peer-focus:font-medium absolute text-md text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Director</label>
            </div>

            <button type="submit" class="w-full text-white font-bold py-2 mt-4 rounded-lg hover:bg-white hover:text-[#314852] bg-third">Registrar película</button>
        </form>
    </section>
</main>
</body>
</html>