<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

    <section th:fragment="contact">
        <div class="mx-8 font-Overlock space-y-16 lg:mx-24 my-8">
            <div class="space-y-3">
                <span class="font-extrabold">Bienvenidos</span>

                <h2 class="font-extrabold text-3xl md:text-4xl xl:text-5xl">Contáctanos</h2>

                <p class="font-semibold">Encuentre aquí nuestra información de contácto y formulario para consultas
                    adicionales.</p>
            </div>

            <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-10">
                <div>
                    <div class="space-y-2 xl:space-y-4">
                        <i class="fa-solid fa-envelope text-3xl xl:text-4xl"></i>
                        <h3 class="text-2xl xl:text-3xl font-extrabold">Correo Electrónico</h3>
                        <p class="font-semibold">Complete el formulario a continuación para enviarnos un correo
                            electrónico.</p>
                        <div><a href="#" class="underline font-extrabold">moview@autocinema.com</a></div>
                    </div>
                </div>

                <div>
                    <div class="space-y-2 xl:space-y-4">
                        <i class="fa-solid fa-phone text-3xl xl:text-4xl"></i>
                        <h3 class="text-2xl xl:text-3xl font-extrabold">Teléfono</h3>
                        <p class="font-semibold">Llámenos para que te comuniques con nuestro equipo de atención al
                            cliente</p>
                        <div><a href="#" class="font-extrabold">+1 (555) 935-2567</a></div>
                    </div>
                </div>

                <div>
                    <div class="space-y-2 xl:space-y-4">
                        <i class="fa-solid fa-location-dot text-3xl xl:text-4xl"></i>
                        <h3 class="text-2xl xl:text-3xl font-extrabold">Oficina</h3>
                        <p class="font-semibold">Visitenos en nuestra oficina ubicada en la siguiente dirección</p>
                        <div><a href="#" class="font-extrabold">Santiago de Surco - Valle Hermoso 320, Oficinas Top</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</html>