<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

    <section th:fragment="services">
        <div class="h-auto w-auto mx-8 space-y-14 text-center justify-center items-center font-Overlock my-10">
            <div class="text-center space-y-4">
                <span class="font-extrabold">Experiencia</span>
                <h2 class="font-extrabold text-3xl md:text-4xl xl:text-5xl">Descubre nuestros servicios adicionales</h2>
                <p class="font-semibold sm:text-xl xl:text-2xl lg:whitespace-break-spaces">En nuestro drive-in,
                    ofrecemos una amplia gama de servicios adicionales para que disfrutes al
                    máximo de tu experiencia. Desde confitería hasta servicios sanitarios, estamos aquí para
                    satisfacer todas tus necesidades.
                </p>
            </div>

            <div class="grid grid-cols-1 min-[850px]:grid-cols-2 space-y-12 xl:space-y-4 xl:grid-cols-3">
                <div
                        class="flex flex-col justify-center items-center order-1 xl:order-none xl:col-start-1 xl:row-start-1">
                    <div class="space-y-3">
                        <div class="flex justify-center">
                            <img th:src="@{/images/home/extra-servi-1.png}" alt="Imagen Confiteria">
                        </div>
                        <h3 class="text-xl xl:text-2xl font-bold">Confitería</h3>
                        <p class="font-semibold">Dsifruta de deliciosos snacks y <br>bebidas mientras ves tu pelicula
                            favoritas</p>
                    </div>
                </div>

                <div
                        class="flex flex-col justify-center items-center order-2 xl:order-none xl:col-start-1 xl:row-start-2">
                    <div class="space-y-3">
                        <div class="flex justify-center">
                            <img th:src="@{/images/home/extra-servi-2.png}" alt="Imagen de Sanidad">
                        </div>
                        <h3 class="text-xl xl:text-2xl font-bold xl:col-start-1 xl:row-start-2">Servicios sanitarios
                        </h3>
                        <p class="font-semibold">Mantén la comodidad durante tu visita <br>con nuestros servicios
                            sanitarios limpios y bien equipados</p>
                    </div>
                </div>

                <div
                        class="flex justify-center order-5 min-[850px]:col-start-1 min-[850px]:col-end-3 xl:col-start-2 xl:row-span-2 xl:order-none">
                    <img th:src="@{/images/home/img-central-confi.png}" alt="Imagen Banner">
                </div>

                <div
                        class="flex flex-col justify-center items-center order-3 xl:order-none xl:col-start-3 xl:row-start-1">
                    <div class="space-y-3">
                        <div class="flex justify-center">
                            <img th:src="@{/images/home/extra-servi-3.png}" alt="Imagen Asistencia">
                        </div>
                        <h3 class="text-xl xl:text-2xl font-bold">Asistencia en auto</h3>
                        <p class="font-semibold">Nuestro personal estará disponible para brindarte asistencia <br> en
                            caso de cualquier necesidad durante tu visita</p>
                    </div>
                </div>

                <div
                        class="flex flex-col justify-center items-center order-4 xl:order-none xl:col-start-3 xl:row-start-2">
                    <div class="space-y-3">
                        <div class="flex justify-center">
                            <img th:src="@{/images/home/extra-servi-4.png}" alt="Imagen Horario">
                        </div>
                        <h3 class="text-xl xl:text-2xl font-bold">Horario de Películas</h3>
                        <p class="font-semibold">Consulta nuestros horarios de películas <br>para planificar tu visita
                            al drive-in</p>
                    </div>
                </div>
            </div>

            <div class="text-center space-x-2">
                <button
                        class="border-2 border-black font-semibold hover:bg-secondaryColor hover:text-white text-xl xl:text-xl px-3 py-1">Ver
                    Más</button>
                <button class="text-gray-600 font-semibold px-3 py-1 text-lg xl:text-xl">Registarse ></button>
            </div>
        </div>
    </section>


</html>