<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

    <section th:fragment="steps-to-buy">
        <div class="h-auto w-auto my-20 mx-8 font-Overlock space-y-10 md:space-y-12 xl:space-y-16 xl:mx-24 xl:my-24">
            <div class="text-center space-y-4">
                <span class="font-extrabold">Descubre</span>
                <h2 class="font-extrabold text-3xl md:text-4xl xl:text-5xl">Cómo comprar Boletos y Acceder al Autocine
                </h2>
                <p class="font-semibold sm:text-xl xl:text-2xl whitespace-break-spaces">Aprende cómo comprar boletos y
                    acceder al autocine de manera fácil y rápida. Sigue estos
                    simples pasos para disfrutar de una experiencia única en el autocine.
                </p>
            </div>

            <div class="space-y-8 md:space-y-0 grid md:grid-cols-2 gap-0 md:gap-12 2xl:gap-16 xl:grid-cols-3">
                <div class="space-y-4 text-center">
                    <div class="justify-center flex">
                        <img th:src="@{/images/home/step-to-buy-1.png}" class="xl:w-lvw" alt="Imagen Paso 1">
                    </div>
                    <h3 class="text-2xl xl:text-3xl font-bold">Selecciona tu Moview</h3>
                    <p class="font-semibold">Explora nuestra amplia selección y elgie la pelicula que más te guste.</p>
                </div>

                <div class="space-y-4 text-center">
                    <div class="justify-center flex w-auto">
                        <img th:src="@{/images/home/step-to-buy-2.png}" class="xl:w-lvw" alt="Imagen Paso 2">
                    </div>
                    <h3 class="text-2xl xl:text-3xl font-bold">Elige tu Horario Preferido</h3>
                    <p class="font-semibold">Selecciona el horario que mejor se ajuste a tu disponibilidad.</p>
                </div>

                <div class="space-y-4 text-center">
                    <div class="justify-center flex">
                        <img th:src="@{/images/home/step-to-buy-3.png}" class="xl:w-lvw" alt="Imagen Paso 3">
                    </div>
                    <h3 class="text-2xl xl:text-3xl font-bold">Compra tus boletos</h3>
                    <p class="font-semibold">Realiza la compra de tus boletos de forma segura y rápida.</p>
                </div>
            </div>

            <div class="text-center space-x-2">
                <button
                        class="border-2 border-black font-semibold hover:bg-secondaryColor hover:text-white text-xl xl:text-xl px-3 py-1">Descubre</button>
                <button class="text-gray-600 font-semibold px-3 py-1 text-lg xl:text-xl">Registarse ></button>
            </div>
        </div>
    </section>

</html>