<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

    <section th:fragment="tickets">
        <figure class="relative h-80 min-[365px]:h-64 w-full my-14">
            <img class="w-full h-full brightness-50 object-cover" th:src="@{/images/home/fondo-drive-in.jpg}"
                 alt="image description">

            <figcaption class="absolute text-white top-5 min-[530px]:top-10">
                <div class="space-y-5 font-Overlock mx-8 lg:mx-24">
                    <h3 class="text-3xl lg:text-4xl xl:text-5xl">¡Registrate y compra tus boletos!</h3>

                    <p class="font-semibold">Descubre la mejor experiencia de cine desde la comodidad de tu auto.</p>

                    <div class="space-x-2">
                        <button class="border-2 border-gray-200 bg-gray-200 px-3 py-1 text-black font-semibold text-lg xl:text-xl hover:bg-white">Explorar</button>
                        <button class="border-2 border-white px-3 py-1 text-white font-semibold text-lg xl:text-xl hover:bg-white hover:text-black">Registrarse</button>
                    </div>
                </div>
            </figcaption>
        </figure>
    </section>
</html>