<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">


    <section th:fragment="product-list">
        <section class="container mx-auto py-6">
            <h2 class="text-3xl font-bold text-center mb-8">Nuestra Oferta</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-6">
                <!-- Producto: Mega Combo diario -->
                <div class="bg-white rounded-lg shadow-md p-6 text-center">
                    <img th:src="@{/images/confiteria/promocion1.png}" alt="Mega Combo diario" class="mx-auto mb-4">
                    <h3 class="text-xl font-bold">¡Mega Combo diario!</h3>
                    <p>1 Gaseosa Coca Cola de 300ml + 1 Canchita Grande Salada - Stock Limitado</p>
                    <span class="text-2xl font-bold">S/ 13.90</span>
                    <div class="flex justify-center mt-4">
                        <button class="bg-[#314852] text-white font-bold py-2 px-4 rounded" onclick="updateQuantity('mega_combo_diario', -1)">-</button>
                        <span id="mega_combo_diario-quantity" class="mx-4">0</span>
                        <button class="bg-[#314852] text-white font-bold py-2 px-4 rounded" onclick="updateQuantity('mega_combo_diario', 1)">+</button>
                    </div>
                </div>
                <!-- Producto: Mega Combo único -->
                <div class="bg-white rounded-lg shadow-md p-6 text-center">
                    <img th:src="@{/images/confiteria/promocion2.png}" alt="Mega Combo único" class="mx-auto mb-4">
                    <h3 class="text-xl font-bold">¡Mega Combo único!</h3>
                    <p>1 Gaseosa Coca Cola de 300ml + 1 caja de nachos con queso - Stock Limitado</p>
                    <span class="text-2xl font-bold">S/ 17.90</span>
                    <div class="flex justify-center mt-4">
                        <button class="bg-[#314852] text-white font-bold py-2 px-4 rounded" onclick="updateQuantity('mega_combo_unico', -1)">-</button>
                        <span id="mega_combo_unico-quantity" class="mx-4">0</span>
                        <button class="bg-[#314852] text-white font-bold py-2 px-4 rounded" onclick="updateQuantity('mega_combo_unico', 1)">+</button>
                    </div>
                </div>
            </div>
        </section>

        <section class="container mx-auto py-12">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
                <div class="bg-white rounded-lg shadow-md p-6 text-center">
                    <img th:src="@{/images/confiteria/cocacola.png}" alt="Coca Cola 300ml" class="mx-auto mb-4">
                    <h3 class="text-xl font-bold">Coca cola 300ml</h3>
                    <span class="text-2xl font-bold">S/ 4.90</span>
                    <div class="flex justify-center mt-4">
                        <button class="bg-[#314852] text-white font-bold py-2 px-4 rounded" onclick="updateQuantity('cocacola', -1)">-</button>
                        <span id="cocacola-quantity" class="mx-4">0</span>
                        <button class="bg-[#314852] text-white font-bold py-2 px-4 rounded" onclick="updateQuantity('cocacola', 1)">+</button>
                    </div>
                </div>

                <div class="bg-white rounded-lg shadow-md p-6 text-center">
                    <img th:src="@{/images/confiteria/popcorn.png}" alt="Canchita grande salada" class="mx-auto mb-4">
                    <h3 class="text-xl font-bold">Canchita grande salada</h3>
                    <span class="text-2xl font-bold">S/ 9.90</span>
                    <div class="flex justify-center mt-4">
                        <button class="bg-[#314852] text-white font-bold py-2 px-4 rounded" onclick="updateQuantity('canchita', -1)">-</button>
                        <span id="canchita-quantity" class="mx-4">0</span>
                        <button class="bg-[#314852] text-white font-bold py-2 px-4 rounded" onclick="updateQuantity('canchita', 1)">+</button>
                    </div>
                </div>

                <div class="bg-white rounded-lg shadow-md p-6 text-center">
                    <img th:src="@{/images/confiteria/hotdog.png}" alt="Hot Dog" class="mx-auto mb-4">
                    <h3 class="text-xl font-bold">Hot Dog</h3>
                    <span class="text-2xl font-bold">S/ 7.90</span>
                    <div class="flex justify-center mt-4">
                        <button class="bg-[#314852] text-white font-bold py-2 px-4 rounded" onclick="updateQuantity('hotdog', -1)">-</button>
                        <span id="hotdog-quantity" class="mx-4">0</span>
                        <button class="bg-[#314852] text-white font-bold py-2 px-4 rounded" onclick="updateQuantity('hotdog', 1)">+</button>
                    </div>
                </div>

                <div class="bg-white rounded-lg shadow-md p-6 text-center">
                    <img th:src="@{/images/confiteria/nachos.png}" alt="Nachos con queso" class="mx-auto mb-4">
                    <h3 class="text-xl font-bold">Nachos con queso</h3>
                    <span class="text-2xl font-bold">S/ 14.90</span>
                    <div class="flex justify-center mt-4">
                        <button class="bg-[#314852] text-white font-bold py-2 px-4 rounded" onclick="updateQuantity('nachos', -1)">-</button>
                        <span id="nachos-quantity" class="mx-4">0</span>
                        <button class="bg-[#314852] text-white font-bold py-2 px-4 rounded" onclick="updateQuantity('nachos', 1)">+</button>
                    </div>
                </div>
            </div>
        </section>

        <section class="container mx-auto py-12">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
                <div class="bg-white rounded-lg shadow-md p-6 text-center">
                    <img th:src="@{/images/confiteria/agua.png}" alt="Agua San Mateo 250ml" class="mx-auto mb-4">
                    <h3 class="text-xl font-bold">Agua San Mateo 250ml</h3>
                    <span class="text-2xl font-bold">S/ 3.90</span>
                    <div class="flex justify-center mt-4">
                        <button class="bg-[#314852] text-white font-bold py-2 px-4 rounded" onclick="updateQuantity('agua', -1)">-</button>
                        <span id="agua-quantity" class="mx-4">0</span>
                        <button class="bg-[#314852] text-white font-bold py-2 px-4 rounded" onclick="updateQuantity('agua', 1)">+</button>
                    </div>
                </div>

                <div class="bg-white rounded-lg shadow-md p-6 text-center">
                    <img th:src="@{/images/confiteria/mym.png}" alt="MyM" class="mx-auto mb-4">
                    <br><br><br><br>
                    <h3 class="text-xl font-bold">MyM</h3>
                    <span class="text-2xl font-bold">S/ 6.90</span>
                    <div class="flex justify-center mt-4">
                        <button class="bg-[#314852] text-white font-bold py-2 px-4 rounded" onclick="updateQuantity('mym', -1)">-</button>
                        <span id="mym-quantity" class="mx-4">0</span>
                        <button class="bg-[#314852] text-white font-bold py-2 px-4 rounded" onclick="updateQuantity('mym', 1)">+</button>
                    </div>
                </div>

                <div class="bg-white rounded-lg shadow-md p-6 text-center">
                    <img th:src="@{/images/confiteria/popcorn_dulce.png}" alt="Canchita grande dulce" class="mx-auto mb-4">
                    <h3 class="text-xl font-bold">Canchita grande dulce</h3>
                    <span class="text-2xl font-bold">S/ 9.90</span>
                    <div class="flex justify-center mt-4">
                        <button class="bg-[#314852] text-white font-bold py-2 px-4 rounded" onclick="updateQuantity('canchita_dulce', -1)">-</button>
                        <span id="canchita_dulce-quantity" class="mx-4">0</span>
                        <button class="bg-[#314852] text-white font-bold py-2 px-4 rounded" onclick="updateQuantity('canchita_dulce', 1)">+</button>
                    </div>
                </div>

                <div class="bg-white rounded-lg shadow-md p-6 text-center">
                    <img th:src="@{/images/confiteria/miflaka.png}" alt="Red Bull" class="mx-auto mb-4">
                    <h3 class="text-xl font-bold">Red Bull</h3>
                    <span class="text-2xl font-bold">S/ 9.90</span>
                    <div class="flex justify-center mt-4">
                        <button class="bg-[#314852] text-white font-bold py-2 px-4 rounded" onclick="updateQuantity('red_bull', -1)">-</button>
                        <span id="red_bull-quantity" class="mx-4">0</span>
                        <button class="bg-[#314852] text-white font-bold py-2 px-4 rounded" onclick="updateQuantity('red_bull', 1)">+</button>
                    </div>
                </div>
            </div>
        </section>

        <div class="fixed bottom-5 right-5">
            <button class="bg-[#314852] text-white py-2 px-4 rounded">
                <a th:href="@{/confiteria/carrito}">
                    Ir al carrito (<span id="cart-count">0</span>)
                </a>
            </button>
        </div>

        
    </section>
</html>