<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Moview</title>
    <link rel="shortcut icon" th:href="@{/images/moview/logo_white.png}" type="image/x-icon">
    <!-- Icons Aplication -->
    <script src="https://kit.fontawesome.com/126fa838b4.js" crossorigin="anonymous"></script>
    <!-- Fuentes de Textos -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Overlock:wght@400;700" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700" />
    <link th:href="@{/main.css}" rel="stylesheet" />
</head>

<body class="bg-primaryColor">
    <!-- HEADER SECTION -->
    <header class="h-16 w-full bg-primaryColor absolute">
        <div class="flex justify-between items-center mx-8 lg">
            <div class="">
                <a href="#">
                    <img th:src="@{/images/moview/logo_black.png}" class="min-h-14 max-h-14" alt="Logo Empresa">
                </a>
            </div>
            <div class="flex items-center">
                <button id="hamburger" class="text-slate-500 hover:text-black block lg:hidden p-3 mt-1">
                    <i id="hamburgerIcon" class="fa-solid fa-bars text-2xl"></i>
                </button>
                <div id="menu" class="hidden lg:flex px-6 py-3 space-x-9 items-center">
                    <a href="#" class="#">Inicio</a>
                    <a href="#" class="#">Películas</a>
                    <a href="#" class="#">Horarios</a>
                    <div class="relative">
                        <button id="servicesMenuBtn" class="bg-transparent flex items-center">
                            Servicios
                            <i class="fa-solid fa-chevron-down ml-1"></i> <!-- Icono de flecha hacia abajo -->
                        </button>
                        <div id="servicesDropdown" class="hidden absolute bg-primaryColor shadow-lg mt-2">
                            <a href="#" class="block px-4 py-2 text-black hover:bg-white">Confitería</a>
                            <a href="#" class="block px-4 py-2 text-black hover:bg-white">Promociones</a>
                            <a href="#" class="block px-4 py-2 text-black hover:bg-white">Contácto</a>
                        </div>
                    </div>
                    <button
                        class="border-2 border-black hover:bg-secondaryColor hover:text-white px-3 py-1">Iniciar</button>
                    <button
                        class="border-2 border-black bg-secondaryColor hover:bg-green-950 px-3 py-1 text-white">Registrarse</button>
                </div>
            </div>
        </div>
        <!-- MENÚ DESPLEGABLE -->
        <div id="dropdownMenu" class="hidden lg:hidden bg-primaryColor absolute w-full">
            <div class="flex flex-col space-y-2 p-4">
                <a href="#" class="hover:bg-white ring-black p-2 hover:border-black">Inicio</a>
                <a href="#" class="hover:bg-white ring-black p-2 hover:border-black">Películas</a>
                <a href="#" class="hover:bg-white ring-black p-2 hover:border-black">Horarios</a>
                <div class="relative">
                    <button id="servicesMenuBtnMobile"
                        class="text-gray-7 bg-transparent flex items-center w-full justify-between p-2">
                        Servicios
                        <i class="fa-solid fa-chevron-down ml-1"></i>
                    </button>
                    <div id="servicesDropdownMobile" class="hidden absolute bg-primaryColor shadow-lg mt-2 w-full">
                        <a href="#" class="block w-auto px-4 py-2 text-black hover:bg-white">Confitería</a>
                        <a href="#" class="block w-auto px-4 py-2 text-black hover:bg-white">Promociones</a>
                        <a href="#" class="block w-auto px-4 py-2 text-black hover:bg-white">Contácto</a>
                    </div>
                </div>
                <button class="border-2 border-black hover:bg-white hover:text-black px-3 py-1">Iniciar</button>
                <button
                    class="border-2 border-black bg-secondaryColor hover:bg-green-950 px-3 py-1 text-white">Registrarse</button>
            </div>
        </div>
    </header>
    <!-- TEXT BANNER -->
    <section>
        <div class="bg-secondaryColor h-screen flex justify-center">
            <div class="items-center justify-center flex flex-col space-y-10 font-Overlock mx-12 xl:mx-0">
                <div class="#">
                    <h1 class="text-center text-white text-4xl sm:text-5xl md:text-6xl xl:text-7xl">¡Bienvenidos a
                        Moview el
                        mejor <br> Cine Drive-In de la Ciudad!</h1>
                </div>
                <div>
                    <p class="text-center text-white text-lg sm:text-xl xl:text-2xl">Disfruta de una experiencia
                        única bajo las estrellas con nuestras peliculas de <br>
                        estreno y deliciosos snacks.</p>
                </div>
                <div class="space-x-2">
                    <button
                        class="border-2 border-gray-200 bg-gray-200 px-3 py-1 text-black font-semibold text-lg xl:text-xl hover:bg-white">Explorar</button>
                    <button
                        class="border-2 border-white bg-secondaryColor px-3 py-1 text-white font-semibold text-lg xl:text-xl hover:bg-white hover:text-black">Registrarse</button>
                </div>
            </div>
        </div>
    </section>
    <!-- DESTACADO MOVIEW -->
    <section>
        <div class="w-auto h-auto flex flex-col justify-center font-Overlock space-y-24 my-20 mx-8 lg:m-24">
            <div class="items-center justify-center space-y-6">
                <h2 class="text-center text-black text-4xl md:text-5xl xl:text-6xl font-bold">Bienvenidos al
                    Autocine</h2>
                <p class="text-center text-black font-semibold text-lg sm:text-xl xl:text-2xl">Disfruta de una
                    experiencia única
                    en nuestro autocine, donde la diversión está garantizada</p>
            </div>
            <div class="space-y-20">
                <div>
                    <h2 class="text-black font-bold text-2xl md:text-3xl xl:text-4xl">Calidad de Imagen y Sonido
                        excepcionales para una <br>experiencia inmersiva</h2>
                </div>
                <div class="grid md:grid-cols-2 xl:grid-cols-3 gap-14 xl:gap-10">
                    <div class="space-y-3 xl:space-y-6">
                        <img th:src="@{/images/home/img-featured-1.png}" alt="">
                        <h4 class="text-2xl font-bold">Comodidad en tu coche con amplios espacios y asientos
                            reclinables</h4>
                        <p class="font-semibold">Disfruta de una amplia variedad de películas de todos los géneros
                        </p>
                        <div class="font-extrabold"><a href="#">Ver más ></a></div>
                    </div>
                    <div class="space-y-3 xl:space-y-6">
                        <img th:src="@{/images/home/img-featured-2.png}" alt="">
                        <h4 class="text-2xl font-bold flex-1">Concesionario de confitería con deliciosos snacks y
                            diversas bebidas</h4>
                        <p class="font-semibold">Disfruta de tus películas favoritas mientras saboreas tus antojos
                        </p>
                        <div class="font-extrabold"><a href="#">Ver más ></a></div>
                    </div>
                    <div class="space-y-3 xl:space-y-6">
                        <img th:src="@{/images/home/img-featured-3.png}" alt="">
                        <h4 class="text-2xl font-bold">Tenemos una amplia selección de películas para todos los
                            gustos y edades</h4>
                        <p class="font-semibold">Desde clásicos hasta los últimos estrenos, tenemos todo para ti</p>
                        <div class="font-extrabold"><a href="#">Ver más ></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- AUTO BANNER -->
    <section>
        <div class="h-auto w-auto space-y-8 lg:space-y-0 my-20 mx-8 lg:mx-24 lg:my-20 grid lg:grid-cols-2 lg:gap-32">
            <div class="space-y-4 md:space-y-6 font-Overlock justify-center flex flex-col">
                <span class="font-extrabold">Disfruta</span>
                <h2 class="font-extrabold text-3xl md:text-4xl xl:text-5xl">El Autocine: Entretenimiento seguro y
                    nostálgico</h2>
                <p class="font-semibold sm:text-xl xl:text-2xl">El autocine ofrece una experiencia de entretenimiento
                    segura y nostálgica, ideal para disfrutar en familia y con amigos.</p>
                <div class="space-x-2">
                    <button
                        class="border-2 border-black font-semibold hover:bg-secondaryColor hover:text-white text-xl xl:text-xl px-3 py-1">Ver
                        Más</button>
                    <button class="text-black font-semibold px-3 py-1 text-lg xl:text-xl">Registarse ></button>
                </div>
            </div>
            <div class="w-auto">
                <img th:src="@{/images/home/img-car.png}" class="h-auto lg:w-lvw" alt="Imagen de Carro">
            </div>
        </div>
    </section>
    <!-- SECCIÓN STEPS TO BUY -->
    <section>
        <div class="h-auto w-auto my-20 mx-8 font-Overlock space-y-10 md:space-y-12 xl:space-y-16 xl:mx-24 xl:my-24">
            <div class="text-center space-y-4">
                <span class="font-extrabold">Descubre</span>
                <h2 class="font-extrabold text-3xl md:text-4xl xl:text-5xl">Cómo comprar Boletos y Acceder al Autocine
                </h2>
                <p class="font-semibold sm:text-xl xl:text-2xl whitespace-break-spaces">Aprende cómo comprar boletos y
                    acceder al autocine de manera fácil y rápida. Sigue estos
                    simples pasos para disfrutar de una experiencia única en el autocine.
                </p>
            </div>
            <div class="space-y-8 md:space-y-0 grid md:grid-cols-2 gap-0 md:gap-12 2xl:gap-16 xl:grid-cols-3">
                <div class="space-y-4 text-center">
                    <div class="justify-center flex">
                        <img th:src="@{/images/home/step-to-buy-1.png}" class="xl:w-lvw" alt="Imagen Paso 1">
                    </div>
                    <h3 class="text-2xl xl:text-3xl font-bold">Selecciona tu Moview</h3>
                    <p class="font-semibold">Explora nuestra amplia selección y elgie la pelicula que más te guste.</p>
                </div>
                <div class="space-y-4 text-center">
                    <div class="justify-center flex w-auto">
                        <img th:src="@{/images/home/step-to-buy-2.png}" class="xl:w-lvw" alt="Imagen Paso 2">
                    </div>
                    <h3 class="text-2xl xl:text-3xl font-bold">Elige tu Horario Preferido</h3>
                    <p class="font-semibold">Selecciona el horario que mejor se ajuste a tu disponibilidad.</p>
                </div>
                <div class="space-y-4 text-center">
                    <div class="justify-center flex">
                        <img th:src="@{/images/home/step-to-buy-3.png}" class="xl:w-lvw" alt="Imagen Paso 3">
                    </div>
                    <h3 class="text-2xl xl:text-3xl font-bold">Compra tus boletos</h3>
                    <p class="font-semibold">Realiza la compra de tus boletos de forma segura y rápida.</p>
                </div>
            </div>
            <div class="text-center space-x-2">
                <button
                    class="border-2 border-black font-semibold hover:bg-secondaryColor hover:text-white text-xl xl:text-xl px-3 py-1">Descubre</button>
                <button class="text-gray-600 font-semibold px-3 py-1 text-lg xl:text-xl">Registarse ></button>
            </div>
        </div>
    </section>
    <!-- SECCIÓN SERVICIOS -->
    <section>
        <div class="h-auto w-auto mx-8 space-y-14 text-center justify-center items-center font-Overlock my-10">
            <div class="text-center space-y-4">
                <span class="font-extrabold">Experiencia</span>
                <h2 class="font-extrabold text-3xl md:text-4xl xl:text-5xl">Descubre nuestros servicios adicionales</h2>
                <p class="font-semibold sm:text-xl xl:text-2xl lg:whitespace-break-spaces">En nuestro drive-in,
                    ofrecemos una amplia gama de servicios adicionales para que disfrutes al
                    máximo de tu experiencia. Desde confitería hasta servicios sanitarios, estamos aquí para
                    satisfacer todas tus necesidades.
                </p>
            </div>
            <div class="grid grid-cols-1 min-[850px]:grid-cols-2 space-y-12 xl:space-y-4 xl:grid-cols-3">
                <div
                    class="flex flex-col justify-center items-center order-1 xl:order-none xl:col-start-1 xl:row-start-1">
                    <div class="space-y-3">
                        <div class="flex justify-center">
                            <img th:src="@{/images/home/extra-servi-1.png}" alt="Imagen Confiteria">
                        </div>
                        <h3 class="text-xl xl:text-2xl font-bold">Confitería</h3>
                        <p class="font-semibold">Dsifruta de deliciosos snacks y <br>bebidas mientras ves tu pelicula
                            favoritas</p>
                    </div>
                </div>
                <div
                    class="flex flex-col justify-center items-center order-2 xl:order-none xl:col-start-1 xl:row-start-2">
                    <div class="space-y-3">
                        <div class="flex justify-center">
                            <img th:src="@{/images/home/extra-servi-2.png}" alt="Imagen de Sanidad">
                        </div>
                        <h3 class="text-xl xl:text-2xl font-bold xl:col-start-1 xl:row-start-2">Servicios sanitarios
                        </h3>
                        <p class="font-semibold">Mantén la comodidad durante tu visita <br>con nuestros servicios
                            sanitarios limpios y bien equipados</p>
                    </div>
                </div>
                <div
                    class="flex justify-center order-5 min-[850px]:col-start-1 min-[850px]:col-end-3 xl:col-start-2 xl:row-span-2 xl:order-none">
                    <img th:src="@{/images/home/img-central-confi.png}" alt="Imagen Banner">
                </div>
                <div
                    class="flex flex-col justify-center items-center order-3 xl:order-none xl:col-start-3 xl:row-start-1">
                    <div class="space-y-3">
                        <div class="flex justify-center">
                            <img th:src="@{/images/home/extra-servi-3.png}" alt="Imagen Asistencia">
                        </div>
                        <h3 class="text-xl xl:text-2xl font-bold">Asistencia en auto</h3>
                        <p class="font-semibold">Nuestro personal estará disponible para brindarte asistencia <br> en
                            caso de cualquier necesidad durante tu visita</p>
                    </div>
                </div>
                <div
                    class="flex flex-col justify-center items-center order-4 xl:order-none xl:col-start-3 xl:row-start-2">
                    <div class="space-y-3">
                        <div class="flex justify-center">
                            <img th:src="@{/images/home/extra-servi-4.png}" alt="Imagen Horario">
                        </div>
                        <h3 class="text-xl xl:text-2xl font-bold">Horario de Películas</h3>
                        <p class="font-semibold">Consulta nuestros horarios de películas <br>para planificar tu visita
                            al drive-in</p>
                    </div>
                </div>
            </div>
            <div class="text-center space-x-2">
                <button
                    class="border-2 border-black font-semibold hover:bg-secondaryColor hover:text-white text-xl xl:text-xl px-3 py-1">Ver
                    Más</button>
                <button class="text-gray-600 font-semibold px-3 py-1 text-lg xl:text-xl">Registarse ></button>
            </div>
        </div>
    </section>
    <!-- SECCIÓN ESTADÍSTICA -->
    <section>
        <div
            class="h-auto w-auto mx-8 my-16 items-centes justify-center font-Overlock grid grid-cols-1 sm:grid-cols-2 lg:mx-24 gap-5">
            <div class="order-2 sm:order-none flex flex-col justify-center">
                <img th:src="@{/images/home/estadistica-img.png}" class="xl:max-w-2xl"
                    alt="Estadística de Satisfacción">
            </div>
            <div class="order-1 sm:order-none flex flex-col justify-center">
                <div class="space-y-5">
                    <h3 class="font-extrabold text-3xl md:text-4xl xl:text-5xl">Estadísticas de Asistencia y
                        <br>Satisfacción de Clientes
                    </h3>
                    <p class="font-semibold xl:text-lg">Obtén datos relevantes sobre la Asistencia y satisfacción de
                        nuestros clientes en nuestro drive-in</p>
                    <div class="space-y-2">
                        <span class="font-bold text-4xl xl:text-5xl">86%</span>
                        <p class="font-semibold">Clientes satisfechos eon la experiencia del drive-in.</p>
                    </div>
                    <div class="space-y-2">
                        <span class="font-bold text-4xl xl:text-5xl">75%</span>
                        <p class="font-semibold">Clientes que recomendarían nuestro drive-in a otros.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- SECCIÓN TERTIMONIO -->
    <section>
        <figure class="max-w-screen-md mx-auto text-center font-Overlock my-12">
            <div class="flex items-center justify-center mb-4 text-yellow-300">
                <svg class="w-5 h-5 me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                    viewBox="0 0 22 20">
                    <path
                        d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
                <svg class="w-5 h-5 me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                    viewBox="0 0 22 20">
                    <path
                        d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
                <svg class="w-5 h-5 me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                    viewBox="0 0 22 20">
                    <path
                        d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
                <svg class="w-5 h-5 me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                    viewBox="0 0 22 20">
                    <path
                        d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                    viewBox="0 0 22 20">
                    <path
                        d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
            </div>
            <blockquote class="mx-8">
                <p class="text-xl italic font-semibold">"El Servicio de este drive-in es increíble, Me encanta poder
                    disfrutar de una película desde la comodidad de mi coche. ¡Altamente recomendado!"</p>
            </blockquote>
            <figcaption class="flex items-center justify-center mt-6 space-x-3 rtl:space-x-reverse">
                <img class="w-12 h-12 rounded-full"
                    src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/michael-gouch.png"
                    alt="profile picture">
                <div class="flex items-center divide-x-2 rtl:divide-x-reverse divide-gray-500 dark:divide-gray-700">
                    <cite class="pe-3 font-semibold ">Carlos Remirez</cite>
                    <cite class="ps-3 text-gray-600">Cliente de Moview</cite>
                </div>
            </figcaption>
        </figure>
    </section>
    <!-- BANNER BOLETOS -->
    <section>
        <figure class="relative h-80 min-[365px]:h-64 w-full my-14">
            <img class="w-full h-full brightness-50 object-cover" th:src="@{/images/home/fondo-drive-in.jpg}"
                alt="image description">
            <figcaption class="absolute text-white top-5 min-[530px]:top-10">
                <div class="space-y-5 font-Overlock mx-8 lg:mx-24">
                    <h3 class="text-3xl lg:text-4xl xl:text-5xl">¡Registrate y compra tus boletos!</h3>
                    <p class="font-semibold">Descubre la mejor experiencia de cine desde la comodidad de tu auto.</p>
                    <div class="space-x-2">
                        <button
                            class="border-2 border-gray-200 bg-gray-200 px-3 py-1 text-black font-semibold text-lg xl:text-xl hover:bg-white">Explorar</button>
                        <button
                            class="border-2 border-white px-3 py-1 text-white font-semibold text-lg xl:text-xl hover:bg-white hover:text-black">Registrarse</button>
                    </div>
                </div>
            </figcaption>
        </figure>
    </section>
    <!-- SECCIÓN CONTACTO -->
    <section>
        <div class="mx-8 font-Overlock space-y-16 lg:mx-24 my-8">
            <div class="space-y-3">
                <span class="font-extrabold">Bienvenidos</span>
                <h2 class="font-extrabold text-3xl md:text-4xl xl:text-5xl">Contáctanos</h2>
                <p class="font-semibold">Encuentre aquí nuestra información de contácto y formulario para consultas
                    adicionales.</p>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-10">
                <div>
                    <div class="space-y-2 xl:space-y-4">
                        <i class="fa-solid fa-envelope text-3xl xl:text-4xl"></i>
                        <h3 class="text-2xl xl:text-3xl font-extrabold">Correo Electrónico</h3>
                        <p class="font-semibold">Complete el formulario a continuación para enviarnos un correo
                            electrónico.</p>
                        <div><a href="#" class="underline font-extrabold">moview@autocinema.com</a></div>
                    </div>
                </div>
                <div>
                    <div class="space-y-2 xl:space-y-4">
                        <i class="fa-solid fa-phone text-3xl xl:text-4xl"></i>
                        <h3 class="text-2xl xl:text-3xl font-extrabold">Teléfono</h3>
                        <p class="font-semibold">Llámenos para que te comuniques con nuestro equipo de atención al
                            cliente</p>
                        <div><a href="#" class="font-extrabold">+1 (555) 935-2567</a></div>
                    </div>
                </div>
                <div>
                    <div class="space-y-2 xl:space-y-4">
                        <i class="fa-solid fa-location-dot text-3xl xl:text-4xl"></i>
                        <h3 class="text-2xl xl:text-3xl font-extrabold">Oficina</h3>
                        <p class="font-semibold">Visitenos en nuestra oficina ubicada en la siguiente dirección</p>
                        <div><a href="#" class="font-extrabold">Santiago de Surco - Valle Hermoso 320, Oficinas Top</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- SUSCRIPCIÓN -->
    <section>
        <figure class="relative h-96 min-[650px]:h-64 w-full mx-0 my-14 xl:w-auto xl:mx-24">
            <img class="w-full h-full brightness-50 object-cover bg-left-bottom xl:rounded-lg" th:src="@{/images/home/fondo-subs.jpg}"
                alt="image description">
            <figcaption class="absolute text-white top-5 min-[530px]:top-10">
                <div class="space-y-2 font-Overlock mx-8 lg:mx-24">
                    <h3 class="text-3xl lg:text-4xl xl:text-5xl">Suscríbete para recibir noticias exclusivas</h3>
                    <p class="font-semibold">MAntente al día con nuestras últimas noticias y promociones.</p>
                    <div class="space-y-4 flex flex-col sm:space-y-0 sm:flex-row sm:space-x-3">
                        <input placeholder="Ingresa tu correo electrónico"
                            class="border border-white w-auto h-10 sm:w-96 bg-transparent font-semibold text-lg p-2 hover:text-white"></input>
                        <button
                            class="border-2 border-gray-200 bg-gray-200 px-3 py-1 text-black font-semibold text-lg xl:text-xl hover:bg-white">Explorar</button>
                    </div>
                    <div class="leading-5 text-sm"><a href="#">Al Hacer clic en Registrarse, confirmas que estás de
                            acuerdo con nuestros Términos y Condiciones.</a></div>
                </div>
            </figcaption>
        </figure>
    </section>
    <!-- FOOTER -->
     <section>
        <div>

        </div>
     </section>
    <!-- DIRECTORIO JS -->
    <script th:src="@{/js/general.js}"></script>
</body>

</html>