<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<th:block th:replace="~{essentials/head :: head}"></th:block>
<body class="bg-primaryColor">

    <!-- HEADER SECTION -->
    <header th:replace="~{essentials/header :: header}"></header>

    <!-- TEXT BANNER -->
    <section th:replace="~{essentials/home/banner :: banner}"></section>

    <!-- DESTACADO MOVIEW -->
    <section th:replace="~{essentials/home/highlighted :: highlighted}"></section>

    <!-- AUTO BANNER -->
    <section th:replace="~{essentials/home/auto-banner :: auto-banner}"></section>

    <!-- SECCIÓN STEPS TO BUY -->
    <section th:replace="~{essentials/home/steps-to-buy :: steps-to-buy}"></section>

    <!-- SECCIÓN SERVICIOS -->
    <section th:replace="~{essentials/home/services :: services}"></section>

    <!-- SECCIÓN ESTADÍSTICA -->
    <section th:replace="~{essentials/home/statistics :: statistics}"></section>

    <!-- SECCIÓN TESTIMONIOS -->
    <section th:replace="~{essentials/home/testimonials :: testimonials}"></section>

    <!-- SECCIÓN TICKETS -->
    <section th:replace="~{essentials/home/tickets :: tickets}"></section>

    <!-- SECCIÓN CONTACTO -->
    <section th:replace="~{essentials/home/contact :: contact}"></section>

    <!-- SUSCRIPCIÓN -->
    <section th:replace="~{essentials/home/subscription :: subscription}"></section>

    <!-- FOOTER -->
    <footer th:replace="~{essentials/footer :: footer}"></footer>

    <!-- DIRECTORIO JS -->
    <script th:src="@{/js/general.js}"></script>
</body>
</html>