<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org" lang="es">
    
<section th:fragment="form" class="min-h-screen flex flex-col lg:flex-row items-stretch text-white">
    <div class="lg:w-1/2 w-full relative flex items-center justify-center">
        <div class="absolute inset-0 bg-gray-500 bg-no-repeat bg-cover z-0" 
             th:style="'background-image: url(' + @{/images/confiteria/fondo_form.jpg} + '); background-repeat: no-repeat; background-size: cover;'">
        </div>
        <div class="absolute inset-0 bg-black opacity-60 z-1"></div>
        <div class="relative z-10 text-center px-4 lg:px-12 py-8">
            <h1 class="text-3xl lg:text-5xl font-bold">Se especial</h1>
            <p class="text-lg lg:text-3xl my-4">Captura cada película icónica, sé parte de ella</p>
        </div>
    </div>

    <div class="lg:w-1/2 w-full flex items-center justify-center text-center md:px-16 px-4 py-12" 
         style="background-color: #161616;">
        <div class="w-full max-w-md py-6 z-20"> <!-- Limitamos el ancho del formulario -->
            <div class="flex justify-center items-center mb-6">
                <img th:src="@{/images/confiteria/logo.png}" alt="Logo Empresa" class="w-24 h-24 mr-4">
                <h1 class="text-3xl font-bold text-white">Moview</h1>
            </div>

            <p class="text-gray-100 mb-8">Contacto con nosotros</p>

            <form action="" class="w-full mx-auto">
                <div class="pb-4">
                    <input type="text" placeholder="Nombres y apellidos" 
                           class="block w-full p-4 text-lg rounded-sm bg-white text-black mb-4">
                </div>
                <div class="pb-4">
                    <input type="email" placeholder="Correo Electrónico" 
                           class="block w-full p-4 text-lg rounded-sm bg-white text-black mb-4">
                </div>
                <div class="pb-4">
                    <textarea placeholder="Comentario" 
                              class="block w-full p-4 text-lg rounded-sm bg-white text-black h-32 mb-4"></textarea>
                </div>
                <div class="px-4 pb-2 pt-4">
                    <button class="uppercase block w-full p-4 text-lg rounded-full bg-[#314852] hover:bg-[#3b5a68] focus:outline-none">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</section>


</html>