<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

    <section th:fragment="cartelera">
        <div class="max-w-4xl space-y-4 mx-8 my-14 lg:m-auto lg:my-24">
            <div>
                <div class="justify-between flex">
                    <h3 class="text-black">Cartelera</h3>
                    <div class="relative inline-block">
                        <i class="fas fa-search absolute top-1 left-2 sm:left-4"></i>
                        <input type="text" class="pl-8 sm:pl-10 w-32 sm:w-auto" placeholder="Buscar">
                    </div>                    
                </div>
            </div>
            <div>
                <div class="grid">
                    <div>                
                        <img th:src="@{images/movies/pelicula-1.png}" alt="">
                        <span>Descripcion</span>
                    </div>
                    <div>
                        <img th:src="@{images/movies/pelicula-2.png}" alt="">
                    </div>
                    <div>
                        <img th:src="@{images/movies/pelicula-3.png}" alt="">
                    </div>
                    <div>
                        <img th:src="@{images/movies/pelicula-4.png}" alt="">
                    </div>
                    <div>
                        <img th:src="@{images/movies/pelicula-5.png}" alt="">
                    </div>
                    <div>
                        <img th:src="@{images/movies/pelicula-6.png}" alt="">
                    </div>
                    <div>
                        <img th:src="@{images/movies/pelicula-7.png}" alt="">
                    </div>
                    <div>
                        <img th:src="@{images/movies/pelicula-8.png}" alt="">
                    </div>
                    <div>
                        <img th:src="@{images/movies/pelicula-9.png}" alt="">
                    </div>
                    <div>
                        <img th:src="@{images/movies/pelicula-10.png}" alt="">
                    </div>
                    <div>
                        <img th:src="@{images/movies/pelicula-11.png}" alt="">
                    </div>
                </div>
            </div>
            <div>

            </div>
        </div>
    </section>

</html>